<%- include('partials/header.ejs') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid ">
        <a class="navbar-brand" href="/">Sahayata</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-5">
                    <a class="nav-link active" aria-current="page" href="/doctor/<%= doctor._id %>">
                        Hi, <%= doctor.firstName %>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>    
    <h3>View Appointment Requests from Patients</h3>
</div>
<div>    
    <h3>Pending Appointment Requests from Patients</h3>
    <ul>
         <% for(let pat of pendingApps) {%> 
            <li><%=pat.patientID.firstName+" "+pat.patientID.lastName%></li>
         <% } %>     
    </ul>
</div>
<div>    
    <h3>Ongoing Appointments with Patients</h3>
    <ul>
        <% for(let pat of ongoingApps) {%> 
            <li><%=pat.patientID.firstName+" "+pat.patientID.lastName%></li>
         <% } %>  
    </ul>
</div>

<%- include('partials/footer.ejs') %>