<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sahayata</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6d1a88741d.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" href="/patientViewingDoctorProfile/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/patientViewingDoctorProfile/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/patientViewingDoctorProfile/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/patientViewingDoctorProfile/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/patientViewingDoctorProfile/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/patientViewingDoctorProfile/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/patientViewingDoctorProfile/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/patientViewingDoctorProfile/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/patientViewingDoctorProfile/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="/patientViewingDoctorProfile/css/util.css">
	<link rel="stylesheet" type="text/css" href="/patientViewingDoctorProfile/css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid ">
        <a class="navbar-brand" href="/">Sahayata</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-5">
                    <a class="nav-link active" aria-current="page" href="/patient/<%= account._id %>">
                        Hi, <%= account.firstName %>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/patient/<%=account._id%>/makeappointment/<%=doctor._id%>" method="POST">
            <span class="contact100-form-title">
                Request an appointment
            </span>
            <label class="label-input100" for="title">Title *</label>
            <div class="wrap-input100">
                <input id="title" class="input100" type="text" name="title" placeholder="Eg. Cavity Problem">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="description">Description *</label>
            <div class="wrap-input100 validate-input" data-validate = "Description is required">
                <textarea rows="8" id="description" class="input100" name="description" placeholder="Enter Detail description, example : I am having pain in the right side of my mouth since last 4 days. I took some pain killers, but after a day or two the pain still continues. I am hoping you could help me"></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Send Request
                </button>
            </div>
        </form>

        <div class="contact100-more flex-col-c-m" style="background-image: url('/patientViewingDoctorProfile/images/bg-01.jpg');">
            <div class="flex-w size1 p-b-47">
                <div class="flex-col size2">
                    <!-- <img src="https://lh3.googleusercontent.com/proxy/AWX227dfWlY0d9wucNqbUOsNnU9DoxNQM0PyslkhHCaHdczyq4ucc4QSPrHaNIhi-6G7cJ8rBKsRx2lGf-3qbP5lXzhhdVIV6CaOQB_VJNjPmA" alt=""> -->
                    <span class="txt1 p-b-20">
                        <%=doctor.firstName+" "+doctor.lastName%>
                    </span>
                </div>
            </div>

            <div class="flex-w size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-briefcase"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
                        Specialization
                    </span>

                    <span class="txt2">
                        <%=doctor.specialization[0].toUpperCase()+doctor.specialization.slice(1)%>
                    </span>
                </div>
            </div>

            <div class="dis-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-hourglass"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
                        Age
                    </span>

                    <span class="txt2">
                        <%=doctor.age%>
                    </span>
                </div>
            </div>

            <div class="dis-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-envelope"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
                        Email
                    </span>

                    <span class="txt2">
                        <%=doctor.email%>
                    </span>
                </div>
            </div>

            <div class="dis-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-license"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
                        License
                    </span>

                    <span class="txt2">
                        <a href="<%=doctor.license%>">Link</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<script src="patientViewingDoctorProfile/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="patientViewingDoctorProfile/vendor/animsition/js/animsition.min.js"></script>
<script src="patientViewingDoctorProfile/vendor/bootstrap/js/popper.js"></script>
<script src="patientViewingDoctorProfile/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="patientViewingDoctorProfile/vendor/select2/select2.min.js"></script>
<script>
    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });
</script>
<script src="patientViewingDoctorProfile/vendor/daterangepicker/moment.min.js"></script>
<script src="patientViewingDoctorProfile/vendor/daterangepicker/daterangepicker.js"></script>
<script src="patientViewingDoctorProfile/vendor/countdowntime/countdowntime.js"></script>
<script src="patientViewingDoctorProfile/js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-23581568-13');
</script>
</body>
</html>